table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  // color: #666;

  tr {
    &:nth-child(even) {
      background-color: #e2f1f8;
    }

    th, td {
      text-align: left;
      vertical-align: middle;
      padding: .5rem;
    }
  }

  thead {
    tr {
      background-color: #607d8b;
      th {
        color: #fafafa;
        position: relative;
        min-height: 2rem;
        font-weight: bold;
        span {

          &.resize-handle {
            display: block;
            position: absolute;
            top: 10%;
            padding: 0;
            height: 80%;
            width: 5px;
            cursor: col-resize;
            z-index: 10;
          }

          &.resize-handle-right {
            right: 0;
            border-right: 1px solid #fafafa;
          }

          &.resize-handle-left {
            left: 0;
            border-left: 1px solid #fafafa;
          }

        }
      }
    }
  }


  // tr {
  //   border-bottom: solid gray 1px;

  //   th, td {
  //     border-right: solid black 1px;
  //   }
  // }
}


.cdk-drag-placeholder {
  opacity: 0;
}

.drag-handle {
  &:hover {
    cursor: move;
  }
}

.sort-header {
  &:hover {
    cursor: pointer;
  }
}