<table *ngIf="_filteredData$ | async as data">
  <thead>
    <tr class="header-row" cdkDropList cdkDropListOrientation="horizontal" cdkDropListLockAxis="x" (cdkDropListDropped)="dropListDropped($event)">
      <th 
      clickUpResize
      [leftHandle]="!first"
      [rightHandle]="!last"
      cdkDrag
      *ngFor="let column of columns; let first = first; let last = last">
        <clickUpSort [column]="column" [tableName]="tableName">
          {{column.headerText}}
        </clickUpSort>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data | orderBy:(sortRules$ | async)">
      <td *ngFor="let column of columns">{{row[column.dataKey]}}</td>
    </tr>
  </tbody>

</table>
