:host {
  padding: 10px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;

  tr {
    &:nth-child(even) {
      background-color: #e2f1f8;
    }

    th, td {
      text-align: left;
      vertical-align: middle;
      padding: .5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: max-content;
    }
  }

  thead {
    tr {
      background-color: #607d8b;
      th {
        color: #fafafa;
        position: relative;
        min-height: 2rem;
        font-weight: bold;
      }
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.header-sort-button {
  border: none;
  background: 0 0;
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  outline: 0;
  font: inherit;
  color: currentColor;
}