<table style="width: 100%;" *ngIf="_sortedData$ | async as data">
  <thead>
    <tr cdkDropList cdkDropListOrientation="horizontal" cdkDropListLockAxis="x" (cdkDropListDropped)="dropListDropped($event)">
      <th *ngFor="let column of columns; let first = first; let last = last" cdkDrag>
        <span
        *ngIf="!first"
        class="resize-handle resize-handle-left"
        (mousedown)="resizeColumn($event)"></span>

        <clickUpSort [column]="column" (sort)="addSortRule($event)">
          {{column.headerText}}
        </clickUpSort>
        
        <span 
        *ngIf="!last"
        class="resize-handle resize-handle-right" 
        (mousedown)="resizeColumn($event, i)"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data | orderBy:sortRules">
      <td *ngFor="let column of columns">{{row[column.dataKey]}}</td>
    </tr>
  </tbody>

</table>