<button 
class="header-sort-button" 
*ngIf="column?.sortable; else original" 
(click)="handleClick(column?.dataKey)">
  <ng-container *ngTemplateOutlet="originalContent" ></ng-container>
  <ng-container *ngIf="rule$ | async as rule">
    <i *ngIf="rule.direction === 1" class="material-icons">arrow_drop_down</i>
    <i *ngIf="rule.direction === -1" class="material-icons"> arrow_drop_up</i>
  </ng-container>

</button>

<ng-template #original>
  <ng-container *ngTemplateOutlet="originalContent" ></ng-container>
</ng-template>

<ng-template #originalContent>
  <ng-content></ng-content>
</ng-template>